<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<p>Hello <span th:text="${user}"></span>.</p>
<p>Welcome to java-ai-benchmark. <a th:href="@{/appInfo}">Application Information</a></p>
<p>
    <a th:href="@{/swagger-ui.html}">Swagger</a>&nbsp;&nbsp;
    <a th:href="@{/tools/file}">File Tool</a>&nbsp;&nbsp;
    <a th:href="@{/callback/getToken}">Callback</a>&nbsp;&nbsp;
    <a th:href="@{/file/pic}">Picture Upload</a>&nbsp;&nbsp;
    <a th:href="@{/file/any}">File Upload</a>&nbsp;&nbsp;
    <a th:href="@{/crossdomain/sec/originFilter}">Cross Domain</a>&nbsp;&nbsp;
    <a th:href="@{/assets/case}">Assets</a>&nbsp;&nbsp;
    <a th:href="@{/query/mybatis/case01}">Query</a>&nbsp;&nbsp;
    <a th:href="@{/proxy/urlConnection/case}">Proxy</a>&nbsp;&nbsp;
    <a th:href="@{/job/runtime/exec}">Job</a>&nbsp;&nbsp;
    <a th:href="@{/office/ooxml/upload}">OOXML</a>&nbsp;&nbsp;
    <a th:href="@{/office/xlsx/upload}">XLSX</a>&nbsp;&nbsp;
    <a th:href="@{/env}">Actuator</a>
</p>
<p>
    <a th:href="@{/token/createToken}">Create Token</a>
    <a th:href="@{/token/getName}">Parse Token</a>
</p>
<a th:href="@{/logout}">logout</a>
</body>
</html>
